<button (click)="back()">Back to users</button>
<div class="mt-5">
  <p>Username: {{ user().username }}</p>
  <p>Email: {{ user().email }}</p>
  <app-table [headers]="['Roles', 'Remove']">
    @if (roles().length > 0) {
      @for (role of roles(); track $index) {
        <tr class="">
          <td class="p-3">{{ role }}</td>
          <td>
            <button (click)="removeRole(role, user()!.username)">Remove role</button>
          </td>
        </tr>
      }
    } @else {
      <p>No Roles...</p>
    }
  </app-table>
</div>
<div class="mt-5 flex flex-row gap-3 flex-wrap justify-between">
  <app-form (onValidSubmit)="addRole($event)" (validityChange)="onFormValidityChangeAdd($event)"
            [data]="[
    { label: 'Role name', key: 'RoleName', type: 'select', options: options(), required: true,
    value: remainingRoles().length > 0 ? remainingRoles()[0] : '' }
  ]"
            class="w-full md:w-[49%]" title="Add user to role">
    <div class="button-group">
      <button [disabled]="!isFormValidAdd()" type="submit">Add role</button>
    </div>
  </app-form>

  <app-form (onValidSubmit)="createNewRole($event)" (validityChange)="onFormValidityChangeCreate($event)"
            [data]="[
    { label: 'Role name', key: 'RoleName', type: 'text', required: true,}
  ]"
            class="w-full md:w-[49%]" title="Create new Role">
    <div class="button-group">
      <button [disabled]="!isFormValidCreate()" type="submit">Add role</button>
    </div>
  </app-form>

</div>
<app-modal #confirmRemoveRoleModal>
  <div class="flex flex-row gap-5 modal-actions">
    <button (click)="confirmRemoveRole()" id="confirm">Confirm</button>
    <button (click)="cancelRemoveRole()" id="cancel">Cancel</button>
  </div>
</app-modal>

