<nav class="bg-slate-500 text-slate-100 text-2xl py-2 pl-5">
  <ul class="flex flex-row justify-between">
    <div class="flex flex-row">
      <li><a routerLink="/">Home</a></li>
      @if (loggedIn()) {
        <li><a routerLink="/Users">Users</a></li>
        <li><a routerLink="/Roles">Roles</a></li>
        <li><a routerLink="/Blog/Upload">Upload Blog</a></li>
        <li><a routerLink="/Blog/Me">My Blogs</a></li>
      }
    </div>
    <div>
      @if (!loggedIn()) {
        <a routerLink="/Login">Login</a>
        <a routerLink="/Register">Register</a>
      } @else {
        <a routerLink="/Logout">Logout</a>
      }
    </div>
  </ul>
</nav>
