form {
  background: #3d4043;
  /* top | right | bottom | left */
  padding: 1rem 3rem 3rem 3rem;
  border-radius: var(--border-radius);
  color: #c9c9c9;
}

form button {
  color: #2c2c2c;
  &:enabled:hover {
    background: #5a1275;
    color: #fff;
    border-color: #5a1275;
  }

  &[disabled] {
    background: #787878;
    border-color: #787878;
    cursor: not-allowed;
  }
}

form input {
  background: #c9c9c9;
  color: #2c2c2c;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
