form {
  /* top | right | bottom | left */
  padding: 1rem 3rem 3rem 3rem;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

form button {
  &:enabled:hover {
    background: #5a1275;
    color: #fff;
    border-color: #5a1275;
  }

  &[disabled] {
    background: #787878;
    border-color: #787878;
    cursor: not-allowed;
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

input {
  width: 18rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 1rem;
}

.login-container {
  display: flex;
  justify-content: center;
}
