<add-role class="mb-3" (addRole)="addRole($event)" />
<button class="my-5" (click)="getRoles()">Get roles</button>
@if (roles().length > 0) {
  <app-table [headers]="['Id', 'Name', 'Delete']">
    @for (role of roles(); track role.id) {
      <tr class="">
        <td class="p-3">{{ role.id }}</td>
        <td>{{ role.name }}</td>
        <td><button (click)="deleteRole(role.name)"> Delete Role </button></td>
      </tr>
    }
  </app-table>
} @else {
  <p class="flex justify-center text-xl font-bold mt-5 text-red-800">No Roles loaded</p>
}

