<div class="flex flex-row justify-between flex-wrap gap-3">
  <add-role class="mb-3 w-full md:w-[49%]" (addRole)="addRole($event)"/>
  <app-add-role-to-user class="w-full md:w-[49%]" [options]="roleNames()" (addRole)="addRoleToUser($event)"/>
</div>
<button class="my-5" (click)="getRoles()">Get roles</button>
@if (roles().length > 0) {
  <app-table [headers]="['Id', 'Name', 'Users', 'Delete']">
    @for (role of roles(); track role.id) {
      <tr class="">
        <td class="p-3"><span class="block max-w-[100px] md:max-w-none truncate">{{ role.id }}</span></td>
        <td>{{ role.name }}</td>
        <td>
          <button (click)="showInfo(role)" >See all users</button>
        </td>
        <td><button (click)="deleteRole(role.name)"> Delete Role </button></td>
      </tr>
    }
  </app-table>
  <app-modal #confirmDelete>
    <button class="px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700" (click)="confirmRoleDelete()">Confirm</button>
    <button class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400" (click)="cancelRoleDelete()">Cancel</button>
  </app-modal>
} @else {
  <p class="flex justify-center text-xl font-bold mt-5 text-red-800">No Roles loaded</p>
}

