form {
  /* top | right | bottom | left */
  padding: 1rem 5rem 3rem 5rem;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  width: 32rem;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
}

input {
  width: 100%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 1rem;
}
