
<button (click)="back()"> Back to Roles </button>
@if (users().length > 0) {
  <app-table [headers]="['Id', 'Name', 'Info', 'Delete']">
    @for (user of users(); track user.id) {
      <tr class="">
        <td class="p-3 block max-w-[100px] md:max-w-none truncate">{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td><button (click)="details(user.username)">Details</button></td>
        <td><button (click)="removeRole(user.username)"> Remove Role </button></td>
      </tr>
    }
  </app-table>
} @else {
  <p class="flex justify-center text-xl font-bold mt-5 text-red-800">No Users with role {{role}}</p>
}
