<div>
  <h2 class="text-5xl">Home</h2>
  <div class="my-5">
    <form (ngSubmit)="onSubmit()" [formGroup]="searchForm" class="flex flex-row justify-between gap-5 mb-5">
      <label class="hidden">Search</label>
      <input class="w-full" formControlName="searchText" placeholder="Search ..." type="search">
      <button class="w-40" type="submit">Search</button>
      <button (click)="clearSearch()" class="w-20">Clear</button>
    </form>
    @if (errorMessage()) {
      <p class="error-message">{{ errorMessage() }}</p>
    }
    <hr/>
  </div>
  @for (blog of blogs(); track blog.id; ) {
    <app-blog [blog]="blog"></app-blog>
  }
</div>
