<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-4 border rounded-md shadow-md h-full flex flex-col justify-between">
  <div>
    <h2 class="text-xl font-bold mb-4">{{ title() }}</h2>
    <div class="flex flex-col space-y-4">
      @for (input of data(); track input.key) {
        <div class="flex flex-col">
          <label [for]="input.key" class="mb-1 font-medium">{{ input.label }}</label>
          @switch (input.type) {
            @case ('select') {
              <select [id]="input.key" [formControlName]="input.key" class="p-2 border rounded-md">
                @for (option of input.options; track option.value) {
                  <option [value]="option.value" [disabled]="option.disabled">{{ option.label }}</option>
                }
              </select>
            }
            @case ('file') {
              <input #fileInput type="file" (change)="onFileChange($event, input.key)">
            }
            @default {
              <input [type]="input.type" [id]="input.key" [formControlName]="input.key" class="p-2 border rounded-md">
            }
          }
        </div>
      }
    </div>
    <div>
      @if (errorMessage()) {
        <p class="error-message">{{errorMessage()}}</p>
      }
    </div>
  </div>
  <div class="mt-3">
    <ng-content></ng-content>
  </div>
</form>
