<form [formGroup]="form" (ngSubmit)="onSubmit()" class="">
  <h2 class="text-fuchsia-500 text-4xl mb-3">{{ title() }}</h2>

  @if (showValidationErrors() && form.errors?.['passwordMismatch']) {
    <div class="error-message">Passwords do not match.</div>
  }

  @for (field of data(); track $index) {
    <div class="my-5">
      <label>
        {{ field.label }}:
        @if (field.type === "select") {
          <select [formControlName]="field.key">
            @for (option of field.options; track $index; ) {
              <option [value]="option.value" [disabled]="option.disabled">{{ option.label }}</option>
            }
          </select>
        } @else if (field.type === "file") {
          <input #fileInput type="file" (change)="onFileChange($event, field.key)">
        } @else if (field.type === "textarea") {
          <textarea [formControlName]="field.key" [readOnly]="field.disabled?? false"></textarea>
        } @else {
          <input [formControlName]="field.key" [type]="field.type" [readOnly]="field.disabled?? false"/>
        }
      </label>
      @if (showValidationErrors() && form.get(field.key)?.invalid && (form.get(field.key)?.dirty || form.get(field.key)?.touched)) {
        @if (form.get(field.key)?.errors?.['required']) {
          <div class="error-message">{{ field.label }} is required.</div>
        }
        @if (form.get(field.key)?.errors?.['email']) {
          <div class="error-message">Invalid email format.</div>
        }
      }
    </div>
  }

  <ng-content>
  </ng-content>

  @if (errorMessage()) {
    <div class="error-message mt-5">{{ errorMessage() }}</div>
  }
</form>
