form {
  /* top | right | bottom | left */
  padding: 1rem 5rem 3rem 5rem;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

input {
  width: 100%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 1rem;
}

select, textarea {
  width: 100%;
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  padding: 0.8rem;
  border-radius: var(--border-radius);
}

input[disabled], input[readonly] {
  background-color: #cccccc;
}

:host {
  --link-color: #007bff;

  ::ng-deep {
    a {
      text-decoration: underline;
      color: var(--link-color);
      cursor: pointer;
    }

    .button-group {
      display: flex;
      gap: 1rem;
      flex-direction: row;
    }

    .error-message {
      color: red;
      margin-bottom: 1rem;
    }
  }
}
