<form [formGroup]="templateForm" (ngSubmit)="onSubmit()" class="">
  <h2 class="text-fuchsia-500 text-3xl mb-3">{{ title() }}</h2>

  @for (field of data(); track $index) {
    <div class="my-5">
      <label>
        {{ field.label }}:
        @if (field.type === "select") {
          <select [formControlName]="field.key">
            @for (option of field.options; track $index; ) {
              <option [value]="option">{{option}}</option>
            }
          </select>
        } @else {
          <input [formControlName]="field.key" [type]="field.type"/>
        }
      </label>
    </div>
  }

  <ng-content>
  </ng-content>
</form>
